p, h1, h2, h3, h4, h5, ul {
    margin: unset;
}
p {
    font-size: 14px;
    display: inline;
}
a {
    color: #333;
    text-decoration: unset;
}
.inline {
    display: inline;
}
.block {
    display: block;
}
.right {
    float: right;
}
.clearfix {
    clear: both;
}
.color-red {
    color: #9f224e;
}
.marginRight16 {
    margin-right: 16px;
}
.marginBot8 {
    margin-bottom: 8px;
}
.marginTop4 {
    margin-top: 4px;
}
.taskbar {
    background-color: #eee;
    height: 30px;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 12px;
    position: relative;
    .container {
        height: 100%;
        max-width: 1000px;
        margin: 0 auto;
        line-height: 30px;
    }
    .divider {
        height: 30px;
        border-left: 1px solid;
        margin: 0 5px;
    }
}
.logo {
    width: 1000px;
    margin: 0 auto;
}
.nav {
    width: 1000px;
    height: 20px;
    border-bottom: 3px solid silver;
    padding-bottom: 3px;
    position: relative;
    margin: 0 auto;
    a {
        font-weight: bold;
        font-size: 13px;
        border-right: 1px solid #E2E2E3;
        padding-right: 4px;
        margin-right: 3px;
        &:first-of-type {
            padding-left: 4px;
            border-left: 1px solid #E2E2E3;
        }
        &:last-child {
            border-right: unset;
        }
    }
}
.breadcrumb {
    margin: 3px auto;
    width: 1000px;
    position: relative;
    h4 {
        display: inline-block;
        a {
            font-weight: 700;
            color: #9f224e;
            background: #eceeed;
            border-left: 3px solid #9f224e;
            padding: 0 8px;
            height: 26px;
            line-height: 26px;
            display: block;
            margin-top: -19px;
        }
    }
    .arrow {
        width: 0;
        height: 0;
        display: inline-block;
        border-left: 13px solid #eceeed;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
    }
    span {
        font-size: 12px;
    }
}
.featured {
    margin: 3px auto;
    width: 1000px;
    position: relative;
    display: flex;
    border-bottom: 1px solid #E2E2E3;
    padding-bottom: 8px;
    margin-bottom: 8px;
    article {
        width: 510px;
        border-right: 1px solid #E2E2E3;
        padding-right: 10px;
        h1 {
            font-size: 1.6em;
            margin-bottom: 8px;
            span {
                font-size: 12px;
            }
        }
    }
    .sub-featured {
        width: 190px;
        padding-left: 10px;
        border-right: 1px solid #ccc;
        height: 400px;
        overflow-y: scroll;
        a {
            border-bottom: 1px dotted #e2e2e3;
            margin-bottom: 8px;
            padding-bottom: 8px;
            display: block;
            width: 160px;
            p {
                display: inline;
            }
            &:last-child {
                border-bottom: unset;
            }
        }
    }
}
.main-container {
    margin: 3px auto;
    width: 1000px;
    position: relative;
    display: flex;
    .left-sidebar {
        width: 390px;
        border-right: 1px solid #E2E2E3;
        padding-right: 9px;
        .art {
            position: relative;
            margin-right: 10px;
            width: 140px;
            margin-bottom: 10px;
            display: inline-block;
        }
        .description {
            display: inline-block;
            width: 230px;
            vertical-align: top;
            ul {
                font-size: 13px;
                padding-left: 15px;
                font-weight: bold;
            }
        }
    }
    .center {
        width: 440px;
        padding: 0 10px 0 10px;
        article {
            margin-bottom: 15px;
            hgroup {
                height: 33px;
                background: #eee;
                margin-bottom: 10px;
                position: relative;
                padding-left: 10px;
                line-height: 33px;
                font-weight: bold;
                border-top: 1px solid grey;
                a {
                    color: #9f224e;
                    padding: 6px 0;
                    border-top: 2px solid grey;
                }
            }
            .content {
                display: inline-block;
                .art {
                    display: inline-block;
                    width: 90px;
                }
                .description {
                    display: inline-block;
                    vertical-align: top;
                    width: 175px;
                    margin-left: 10px;
                    h4 {
                        margin-bottom: 8px;
                    }
                }
            }
            ul {
                width: 145px;
                display: inline-block;
                list-style-type: none;
                padding: unset;
                vertical-align: top;
                h5 {
                    display: inline;
                }
                p {
                    font-size: 13px;
                }
            }
        }
    }
}
footer {
    width: 1000px;
    margin: 10px auto 0;
    background-color: #f4f4f4;
    .top-footer {
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        height: 30px;
        line-height: 30px;
        width: 100%;
        a:first-child {
            padding-left: 18px;
            font-weight: bold;
        }
        .divider {
            height: 30px;
            border-left: 1px solid;
            margin: 0 8px;
            display: inline;
        }
    }
    .menu {
        padding: 20px 0 20px 20px;
        width: 100%;
        ul {
            list-style-type: none;
            padding: unset;
            font-weight: bold;
            display: inline-block;
            width: 120px;
            li {
                margin-bottom: 8px;
            }
        }
        .last-column {
            width: 260px;
            padding-left: 60px;
            display: inline-block;
            a {
                display: block;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .store {
                width: 100px;
                display: inline-block;
            }
        }
    }
    .bottom-footer {
        padding-left: 16px;
        img {
            width: 170px;
        }
        .copyright {
            margin-left: 20px;
            width: 500px;
            display: inline-block;
            p {
                font-size: 12px;
                display: block;
            }
        }
    }
}